/*
  See this link for how to overflow only app div and not navbar
  https://stackoverflow.com/questions/68293303/how-do-i-make-scrollbar-only-at-div-content-and-not-at-entire-body/
*/
/* Html and body @ height 100% will not overflow body */
html,
body {
  height: 100%;
}

/* 
  Make root div a flex container sin colum direction so it aligns content
  to parent height
*/
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*
  Set app div with overflow auto will only overflow this element.
  Element before app will not overflow.
 */
#app {
  overflow: auto;
}
